models/
data/acceptance_datasets/src
data/representations
data/representations_geometry/
data/representations_architecture_effects/
data/results/
bash_script_leonardo/
bash_script/
*/__pycache__/
cristiano
old/
